* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arsenal', Tahoma, sans-serif;
}

body {
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 70px;
    font-size: 18px;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-color: #dcd9e0;
    background-image: url('img/bg_2.jpg');
    background-position-y: 110px;
}

.wrap_container {
    width: 900px;
    margin: 0 auto;
    height: 100%;
}

section.section_title h2 {
    background: linear-gradient(-45deg, #848484, #d0d0f9 20%, #353535 70%, #353535);
    color: #eceff1;
}
section h2 {
    position: relative;
    padding: 5px 15px 10px;
    /* background: linear-gradient(90deg, #c7addd, rgba(255, 255, 255, 0.5) 39%, rgba(255, 255, 255, 0.5)); */
    color: #40225a;
    font-weight: 400;
    height: 50px;
    font-size: 24px;
    border-bottom: 1px solid;
}

.section_content {
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

input, textarea {
    padding: 5px;
    border: none;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
}

input {
    height: 30px;
    border-color: #ccc;
}
