* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/img/body_bg.png');
    background-size: cover;
    padding-bottom: 70px;
    background-position-y: -30px;
}

.wrap_container {
    background-color: rgba(236, 239, 241, 0.7);
    width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
}