header {
    background: linear-gradient(90deg, #7b5a98, #c8aede, #7b5a98);
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 5px 8px 0px #3a3a3a;
    height: 110px;
}

header .wrap_container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.header_main_info {
     display: flex;
     justify-content: space-between;
     height: 70px;
     width: 100%;
}

.header_title {
    font-size: 40px;
    display: flex;
    align-self: center;
}

.date_selector {

display: flex;
align-self: center;
}

#select_date_form {
    display: flex;
}

#select_date_form select {
    height: 30px;
    width: 90px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
}

#select_date_form input {
    width: 60px;
    margin-right: 5px;
}

#select_date_form button {
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #ffb127;
}

.content {
    padding-top: 120px;
}

.sidebar {

width: 200px;

margin-right: 10px;
}

.mm_box {
    
display: flex;
}

.tab_content section {
    background: linear-gradient(90deg, #e5e9ef, rgba(255, 255, 255, 0.5));
    padding: 0px;
}
.tab_content section:first-child {
}
.tab_content section:last-child {
    padding-bottom: 50px;
    margin-bottom: 0;
}
section.plan_tab {
    border-top-left-radius: 0;
}

/*Область с информацией*/

.tab_content .total_info {
    text-align: right;
    height: 56px;
    margin-bottom: 10px;
    padding: 10px;
}
.total_info-text {
    font-size: 27px;
    text-align: center;
    color: #adadad;
}

.total_info-text span {
    color: #000;
}

.total_info_plan {
    text-align: right;
    height: 122px;
}

/*Область с фильтрацией*/

.date_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 0;
    margin-left: 1px;
}

.filter_header {
}

.date_item {
    height: 35px;
    width: 26px;
    text-align: center;
    border: 1px solid #a5a5a5;
    line-height: 30px;
    margin-left: -1px;
    margin-bottom: -1px;
}

/*Область с формой*/

.form_section {
    margin-bottom: 10px;
}

.form_wrapper {
display: flex;
flex-direction: column;
}

#mm_plan_form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#mm_plan_form .form_field {
    margin-right: 5px;
    margin-top: 0;
}

.first_col {
    width: 75%;
    padding-right: 5px;
}

.first_row {
    display: flex;
}

#mm_plan_form .form_field.purpose {
    width: 30%;
}

#mm_plan_form .purpose input {
    width: 100%;
}

#mm_plan_form .form_field.category {
    flex-grow: 1;
    margin-right: 0;
}

#mm_plan_form .category input {
    width: 100%;
}

#mm_plan_form .comment {
    width: 100%;
    margin: 0;
    height: 30px;
}

#mm_plan_form .comment textarea {
    height: 30px;
}

#mm_form label, #mm_plan_form label {
    display: inline-block;
    font-size: 16px;
}

#mm_plan_form button {
    width: 25%;
}

form button {
    font-size: 30px;
    cursor: pointer;
    width: 100%;
}

.direction_checkbox label {
    width: 60px;
    display: inline-block;
    height: fit-content;
    font-size: 16px;
}

.form_field.comment label {
    position: relative;
    top: 0px;
}

.form_field.comment {
    margin-top: 7px;
}

.form_field.comment textarea {
    height: 70px;
    width: 100%;
    resize: none;
    font-size: 16px;
}

.direction_checkbox {
    display: flex;
    align-self: center;
}

.direction_checkbox input {
    width: 21px;
    height: 21px;
}

.form_field {
    margin: 5px 0;
}

/*Область с таблицей данных*/

.day_header {
    margin: 5px 0 5px;
    font-size: 25px;
}

#mm_table_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mms {
    flex-grow: 1;
}

.mms td {
    padding: 0 15px;
}

.income_item {
    background: linear-gradient(90deg, rgba(0, 255, 17, 0.3), transparent, rgba(0, 255, 17, 0.3));
}

.mm_editor {
    display: none;
    position: absolute;
    height: 56px;
}

#mm_row_form {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

#mm_row_form input {
    height: 20px;
    padding: 0 5px;
    font-size: 18px;
}

#mm_row_form button {
    margin: 0;
    margin-left: 8px;
    height: 28px;
    width: 28px;
    background: none;
    border: none;
    background-size: cover;
    transition-duration: 300ms;
}

#mm_row_form button:hover {
    transform: translateY(-4px);
    transition-duration: 300ms;
}

#mm_row_form button:focus {
    outline: none;
}

#mm_row_form button.submit {
    background-image: url('/static/img/icons8-ok-48.png');
    margin-left: 1px;
}

#mm_row_form button.reset {
    background-image: url('/static/img/icons8-reset-48.png');
    width: 24px;
    height: 24px;
}

#mm_row_form button.close {
    background-image: url('/static/img/icons8-delete-48.png');
}

#mm_row_form button.delete {
    background-image: url('/static/img/icons8-trash-48.png');
    margin-left: 4px;
    height: 24px;
    width: 24px;
}

#mm_row_form .buttons {
    position: absolute;
    right: -20px;
    top: -30px;
    display: flex;
    box-shadow: 5px 5px 10px 0px #929292;
    background: hsla(240, 9%, 104%, 1);
    border-radius: 17px;
    padding: 0 10px;
    height: 34px;
    align-items: center;
}

.editor_amount {
    width: 90px;
    margin-right: 20px;
    margin-left: 30px;
    text-align: right;
}

.editor_purpose {
}

.editor_comment {
    height: 51px;
    width: 290px;
    resize: none;
    font-size: 18px;
}

.editor_category {
    font-size: 14px;
}

#mm_row_form input:focus, #mm_row_form textarea:focus {
    outline: none;
}

.purpose-col {
    width: 200px;
    background: #e5e9ef;
    margin-right: 20px;
}

.purpose-col input {
    width: 100%;
}

.day_amounts {
    font-size: 16px;
    color: #adadad;
    border-top: 1px solid #adadad;
    width: fit-content;
}

.day_amounts span {
    color: #000;
    font-size: 18px;
    margin-right: 10px;
    width: 70px;
    display: inline-block;
}

#mm_table {
    display: block;
    margin: 20px auto 0;
    border-collapse: collapse;
    position: relative;
}

#mm_table tr {
    border-bottom: 1px solid #adadad;
    height: 56px;
}

#mm_table .date {
    width: 120px;
}

#mm_table .amount {
    width: 130px;
    text-align: right;
}

#mm_table .purpose_wrap {
    width: 220px;
}

#mm_table .category {
    font-size: 16px;
    color: #adadad;
    width: fit-content;
}

#mm_table .comment {
    width: 320px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    height: inherit;
}

#mm_table tr.editor {
    height: 0;
    width: 0;
    border: none;
}

#mm_table td.editor {
    padding: 0;
}

.mm_data.purpose {
    margin-bottom: 4px;
}

.mm_data.category {
    margin-bottom: 2px;
}

.plan_table_wrap {
    /*display: inline-block;*/
    width: 49%;
}

.mm_plan_tables {
    display: flex;
    justify-content: space-between;
}

.plan_table {
    border-collapse: collapse;
    display: block;
    margin: 20px auto;
    /* width: 730px; */
}
.plan_table tr {
    border-bottom: 1px solid #999;
    /* display: flex; */
}
.plan_table td {
    padding: 6px 10px;
}
.plan_table td.date {
    /* width: 120px; */
}
.plan_table td.amount {
    width: 100px;
}
.plan_table td.purpose {
    width: 150px;
}
.plan_table td.comment {
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 190px;
    overflow: hidden;
}
.plan_table .category-text {
    font-size: 14px;
    color: #a5a5a5;
    width: fit-content;
}


#income_table {
    background: linear-gradient(90deg, transparent 75%, rgba(0, 255, 17, 0.3));
}

#cost_table {
    background: linear-gradient(90deg, rgba(255, 100, 100, 0.3), transparent 25%);
}

.tab_content section.plan_balance {
    background: linear-gradient(90deg, #e5e9ef, rgba(255, 255, 255, 0.7));
}

/*Область с заголовками вкладок*/

.tab_title {
    transition: 300ms;
    display: inline-block;
    padding: 5px 15px;
    border-bottom: 5px solid #0000;
}

.tab_title.current {
    color: #fff;
    border-bottom: 5px solid;
}

.tab_title:not(.current):hover {
    transition: 500ms;
    /* background-color: #0000007d; */
    color: #fff;
}
