header {
    background-color: rgb(142, 142, 160);
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 5px 8px 0px #6f6f6f;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-size: 40px;
    display: flex;
    align-self: center;
}

.date_selector {

display: flex;
align-self: center;
}

#select_date_form {
    display: flex;
}

#select_date_form select {
    height: 30px;
    width: 90px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
}

#select_date_form input {
    width: 60px;
    margin-right: 5px;
}

#select_date_form button {
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer
}

.content {
    padding-top: 100px;
}

.tab_content section {
    background: linear-gradient(90deg, rgb(236, 239, 241), rgb(236, 239, 241) 40%, rgba(236, 239, 241, 0.7) 80%, rgba(236, 239, 241, 0.7));
    padding: 10px;
    box-shadow: 0px 7px 6px 0px #0000008f;
}
.tab_content section:first-child {
    margin-top: 0;
}
.tab_content section:last-child {
    padding-bottom: 50px;
    margin-bottom: 0;
}
section.plan_tab {
    border-top-left-radius: 0;
}

/*Область с информацией*/

.total_info {
    text-align: right;
    height: 56px;
}
.total_info-text {
    font-size: 27px;
    font-weight: 700;
}

.total_info_plan {
    text-align: right;
    height: 122px;
}

/*Область с фильтрацией*/

.date_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 0;
}

.filter_header {

}

.date_item {
    background-color: #f6f9ff;
    height: 35px;
    margin: 0 6px 3px;
    width: 75px;
    text-align: center;
    border: 1px solid #a5a5a5;
    line-height: 30px;
}

/*Область с формой*/

.form_section {
    /* display: none; */
}

#mm_form label, #mm_plan_form label {
    min-width: 80px;
    display: inline-block;
    text-align: right;
}

#mm_form button, #mm_plan_form button {
    font-size: 30px;
    width: 248px;
    height: 50px;
    margin: 10px 0;
    cursor: pointer;
}

.direction_checkbox label {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-bottom: 3px;
}

.form_field.comment label {
    position: relative;
    top: 0px;
}

.form_field.comment {
    margin-top: 7px;
}

.form_field.comment textarea {
    height: 60px;
}

.direction_checkbox input {
    width: 21px;
    height: 21px;
    margin: 0;
    top: 6px;
    position: relative;
}

.form_field {
    margin: 5px 0;
}

/*Область с таблицей данных*/

.day_header {
    margin: 20px 0 5px;
    font-size: 25px;
}

#mm_table_wrap {
    padding: 0 80px;
}

.mms {
    /*max-height: 400px;*/
}

.mms td {
    padding: 6px 10px;
}

.income_item {
    background: linear-gradient(90deg, rgba(0, 255, 17, 0.3), transparent, rgba(0, 255, 17, 0.3));
}

.day_amounts {
    font-size: 16px;
    color: #a5a5a5;
    border-top: 1px solid #a5a5a5;
    width: fit-content;
}

.day_amounts span {
    color: #000;
    font-size: 18px;
    margin-right: 10px;
}

#mm_table {
    display: block;
    margin: 20px auto 0;
    border-collapse: collapse;
}

#mm_table tr {
    border-bottom: 1px solid #999;
}

#mm_table .date {
    width: 120px;
}

#mm_table .amount {
    width: 100px;
}

#mm_table td.amount {
    text-align: right;
}

#mm_table .purpose {
    width: 180px;
}

#mm_table .category-text {
    font-size: 14px;
    color: #a5a5a5;
    /* background: #fff; */
    /* padding: 0 5px; */
    width: fit-content;
}

#mm_table .comment {
    width: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}

.plan_table_wrap {
    /*display: inline-block;*/
}

.mm_plan_tables {
    margin: 20px 75px 0;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*padding: 1px 75px;*/
}

.plan_table {
    border-collapse: collapse;
    display: block;
    margin: 20px auto;
    width: 730px;
}
.plan_table tr {
    border-bottom: 1px solid #999;
}
.plan_table td {
    padding: 6px 10px;
}
.plan_table td.date {
    width: 120px;
}
.plan_table td.amount {
    width: 100px;
}
.plan_table td.purpose {
    width: 180px;
}
.plan_table td.comment {
    width: 330px;
}
.plan_table .category-text {
    font-size: 14px;
    color: #a5a5a5;
    width: fit-content;
}


#income_table {
    background: linear-gradient(90deg, rgba(0, 255, 17, 0.3), transparent, rgba(0, 255, 17, 0.3));
}

#cost_table {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.3), transparent, rgba(255, 0, 0, 0.3));
}

/*Область с заголовками вкладок*/

.tab_title {
    display: inline-block;
    background-color: rgb(236, 239, 241);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab_title:not(.current) {
    box-shadow: inset 0 -10px 10px -13px #000;
    color: #a2a2a2;
}
