{% extends 'base.html' %}


{% block title %}Pupu{% endblock %}


{% block links %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "landing.css" %}">
{% endblock %}


{% block content %}
    <h1 class="header_title">Сайт-Пупусайт</h1>
    <div class="wrap_container">
        <div class="tabs_header">
            <div class="tab_title" template="landing/tab_plan.html">Планируем</div>
            <div class="tab_title current" template="landing/tab_reg.html">Фиксируем</div>
            <div class="tab_title" template="landing/tab_total.html">Контролируем</div>
        </div>
        <div class="tab_content">
            {% include 'landing/tab_reg.html' %}
        </div>
    </div>
    <script src="{% static "landing.js" %}"></script>
{% endblock %}
