<div class="day_header">
    {{ render_date }}
</div>
<div class="day_amounts">
    На утро: <span>{{ day_amounts.start }}</span>
    За день: <span>{{ day_amounts.delta }}</span>
    Итого: <span>{{ day_amounts.total }}</span>
</div>
<table id="mm_table">
    <tbody>
        {% for mm in mms %}
            <tr mm_id="{{ mm.id }}" class="mm_row {% if mm.direction == 'income' %}income_item{% endif %}">
                <td class="amount">{{ mm.amount }}</td>
                <td class="purpose">
                    <div class="purpose-text">{{ mm.purpose }}</div>
                    <div class="category-text">{{ mm.category }}</div>
                </td>
                <td class="comment" title="{{ mm.comment }}">{{ mm.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mm_editor">
    <form action="/landing/reload-mm_row/" method="post" id="mm_row-form">{% csrf_token %}
        <input type="text" name="editor_amount" class="editor_amount">
        <div class="purpose-col">
            <input type="text" name="editor_purpose">
            <input type="text" name="editor_category">
        </div>
        <textarea name="editor_comment" class="editor_comment"></textarea>
        <button type="submit">V</button>
    </form>
</div>
