{% if day_amounts %}
    <div class="day_header">
        {{ render_date }}
    </div>
    <div class="day_amounts">
        На утро: <span>{{ day_amounts.start }}</span>
        За день: <span>{{ day_amounts.delta }}</span>
        Итого: <span>{{ day_amounts.total }}</span>
    </div>
{% endif %}
<table id="mm_table">
    <tbody>
        {% for mm in mms %}
            <tr mm_id="{{ mm.id }}" class="{% if mm.direction == 'income' %}income_item{% endif %}">
                {% if not day_amounts %}
                    <td class="date">{{ mm.date }}</td>
                {% endif %}
                <td class="amount">{{ mm.amount }}</td>
                <td class="purpose">
                    <div class="purpose-text">{{ mm.purpose }}</div>
                    <div class="category-text">{{ mm.category }}</div>
                </td>
                <td class="comment" title="{{ mm.comment }}">{{ mm.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
