<div class="day_header">
    {{ render_date }}
</div>
<div class="day_amounts">
    На утро: <span>{{ day_amounts.start }}</span>
    За день: <span>{{ day_amounts.delta }}</span>
    Итого: <span>{{ day_amounts.total }}</span>
</div>
<table id="mm_table">
    <tbody>
        {% for mm in mms %}
            {% include 'landing/mm_table_row.html' %}
        {% endfor %}
        <tr class="editor">
            <td class="editor"></td>
        </tr>
    </tbody>
</table>
<div class="mm_editor">
    <form action="/landing/reload_mm_row/" method="post" id="mm_row_form">{% csrf_token %}
        <input type="text" name="amount" class="editor_amount">
        <div class="purpose-col">
            <input type="text" name="purpose" class="editor_purpose">
            <input type="text" name="category" class="editor_category">
        </div>
        <textarea name="comment" class="editor_comment"></textarea>
        <div class="buttons">
            <button type="submit" class="submit"></button>
            <button type="reset" class="reset"></button>
            <button class="close"></button>
            <button class="delete"></button>
        </div>
    </form>
</div>
