<section class="section_title">
    <h2>Фиксирование</h2>
    <p>{{ text }}</p>
</section>
<section class="total_info">
    <div class="total_info-text">Общая сумма: <span id="total_amount">{{ total_amount }}</span> р.</div>
</section>
<section class="form_section">
    <div>
        <div class="direction_checkbox">
            <label for="direction">Income:</label>
            <input type="checkbox" id="direction">
        </div>
        <form action="/landing/add_mm/" method="post" id="mm_form">{% csrf_token %}
            <div class="form_field">
                <label>Date: </label>
                {{ form.date }}
            </div>
            <div class="form_field">
                <label>Amount: </label>
                {{ form.amount }}
            </div>
            <div class="form_field">
                <label>Purpose: </label>
                {{ form.purpose }}
            </div>
            <div class="form_field">
                <label>Category: </label>
                {{ form.category }}
            </div>
            <div class="form_field comment">
                <label>Comment: </label>
                {{ form.comment }}
            </div>
            <div>
                <button type="submit">Добавить</button>
            </div>
        </form>
    </div>
</section>
<section class="total_chart">
    <div class="date_wrapper">
        {% for date in dates %}
            <div class="date_item">{{ date }}</div>
        {% endfor %}
    </div>
</section>
<section class="mms">
    <h2>Движение средств:</h2>
    <div id="mm_table_wrap">
        {% include 'landing/mm_table.html' %}
    </div>
</section>
