{#<section class="section_title">#}
{#    <h2>Фиксирование</h2>#}
{#    <p>{{ text }}</p>#}
{#</section>#}
<section class="total_info">
    <div class="total_info-text">Общая сумма: <span id="total_amount">{{ total_amount }}</span></div>
</section>
<div class="mm_box">
    <div class="sidebar">
        <section class="form_section">
{#            <h2></h2>#}
            <div class="section_content">
                <div>
                    <div class="direction_checkbox">
                        <label for="direction">Доход:</label>
                        <input type="checkbox" id="direction">
                    </div>
                    <form action="/landing/add_mm/" method="post" id="mm_form">{% csrf_token %}
                        <div class="form_field">
                            {{ form.date }}
                        </div>
                        <div class="form_field">
                            {{ form.amount }}
                        </div>
                        <div class="form_field">
                            {{ form.purpose }}
                        </div>
                        <div class="form_field">
                            {{ form.category }}
                        </div>
                        <div class="form_field comment">
                            {{ form.comment }}
                        </div>
                        <div>
                            <button type="submit">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        {% if dates %}
            <section class="total_chart">
{#                <h2></h2>#}
                <div class="section_content">
                    <div class="filter_header">
                        Выберите день:
                    </div>
                    <div class="date_wrapper">
                        {% for date in dates %}
                            <div class="date_item" date="{{ date.date_str }}">{{ date.day }}</div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
    <section class="mms">
{#        <h2>Движение средств:</h2>#}
        <div class="section_content">
            <div id="mm_table_wrap">
                {% include 'landing/mm_table.html' %}
            </div>
        </div>
    </section>
</div>
